   <h1>{{PageTitle}}</h1>
   <div class="jumbotron">
     <form name="teamForm">
      <input type="text" class="form-control block" name="name" placeholder="Name" ng-model="team.name">
      <button class="btn btn-primary btn-block" ng-click="addTeam(team)">Create Team</button>
    </form>
  </div>
