   <h1>{{PageTitle}}</h1>
   <div class="jumbotron col-md-9">
     <form name="projectForm">
     <label>Name:</label>
      <input type="text" class="form-control block" name="name" placeholder="Name" ng-model="project.name" ng-required="true">
      <label>Estimated Deadline:</label>
      <input type="date" class="form-control" name="estimate" ng-model="project.estimatedDeadline">
      <label>State:</label>
      <select class="form-control" ng-model="project.state" ng-options="t.Id as t.name for t in teams">
        <option value="">Select the Project Team</option>
      </select>
      <label>Description:</label>
      <textarea cols="40"
      rows="5"  class="form-control" name="description" placeholder="Description" ng-model="project.description"></textarea>
      <button class="btn btn-primary btn-block" ng-click="updateProject(project)">Update Project</button>
      <button class="btn btn-danger btn-block" ng-click="deleteProject(project.Id)">Delete Project</button>
    </form>
  </div>
