.icheck>label {
  padding-left: 22px;
}
.login-page{
  padding-top:1%;
  margin-bottom:0; 
  background: url(../assets/images/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
