<!DOCTYPE html>
<html ng-app="UpTeam">
<head>
  <title>Up Team</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/signin.css" media="screen" title="no title" charset="utf-8">

  <script type="text/javascript" src="lib/sweetAlert/sweetalert2.min.js" ></script>
  <link rel="stylesheet" type="text/css" href="lib/sweetAlert/sweetalert2.min.css">

  <script type="text/javascript" src="lib/angular.min.js" ></script>
  <script type="text/javascript" src="lib/angular-route.min.js"></script>
  <script type="text/javascript" src="lib/angular-cookies.min.js"></script>
  <script type="text/javascript" src="lib/dirPagination.js"></script>
  <script type="text/javascript" src="js/app.js" ></script>

  <script type="text/javascript" src="js/config/routeConfig.js" ></script>

  <script type="text/javascript" src="js/Services/rolesAPIService.js" ></script>
  <script type="text/javascript" src="js/Controllers/loginCtrl.js"></script>
  <script type="text/javascript" src="js/Services/userAPIService.js" ></script>

  <script type="text/javascript" src="js/Services/loginAPIService.js" ></script>
  <script type="text/javascript" src="js/Value/configValue.js" ></script>


</head>
<body ng-controller="loginCtrl">
<div class="container" ng-if="login">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" ng-model="user.email" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="user.password" placeholder="Password" required>
        <a ng-click="showRegister()" href="#">Register now!</a>
        <button class="btn btn-lg btn-primary btn-block" ng-click="signIn(user)">Sign in</button>
      </form>
</div>
<div class="container" ng-if="!login">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" ng-model="user.email" placeholder="Email address" required autofocus>

    <label for="inputName" class="sr-only">Name</label>
    <input type="text" id="inputName" class="form-control" ng-model="user.name" placeholder="Name" required >

    <label for="inputBirthday" class="sr-only">Birthday</label>
    <input type="date" id="inputBirthday" class="form-control" ng-model="user.birthday">

    <label for="inputCPF" class="sr-only">CPF</label>
    <select class="form-control" ng-model="user.role" ng-options="r.id as r.Role for r in roles">
      <option value="">Select Your Role</option>
    </select>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" ng-model="user.password" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" ng-click="register(user)">Sign in</button>
  </form>
</div>
</body>
</html>
